.link-text {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.badge {
    all: unset;
    background: transparent;
    padding: 6px 6px 4px 6px;
    border-radius: 5px;
}

.badge.badge-link {
    background-color: var(--color-lessons-very-light-yellow);
}

.py-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.col {
    display: inline-block;
}

ul.ul-inline > li {
    display: inline;
}

.ul-inline {
    padding: 0;
}

.top-navbar__theme {
    background-color: transparent;
    color: var(--color-lessons-white);
}