:root {
    --color-lessons-light-grey: #e4e4e4;
    --color-lessons-easy-gray: #bdbdbd;
    --color-lessons-very-soft-violet: #ab8fe3;
    --color-lessons-very-soft-lime-green: #a6f1a6;
    --color-lessons-very-light-yellow: #ffff89;
    --color-lessons-white-smoke: #f5f5f5;
    --color-lessons-white: #ffffff;
    --color-lessons-black: #000000;
    --color-lessons-dark-orange: #a5492a;
    --color-lessons-lavender: #e6e6fa;
}