:root {
    --color-lessons-aqua:                       #00FFFF;
    --color-lessons-aquamarine:                 #7FFFD4;
    --color-lessons-black:                      #000000;
    --color-lessons-dark-blue:                  #191970;
    --color-lessons-dark-olive:                 #556B2F;
    --color-lessons-dark-orange:                #a5492a;
    --color-lessons-darkorchid: 	            #9932CC;
    --color-lessons-easy-gray:                  #bdbdbd;
    --color-lessons-gold:	                    #FFD700;
    --color-lessons-green-forest: 	            #228B22;
    --color-lessons-indigo:                     #4B0082;
    --color-lessons-khaki:                      #F0E68C;
    --color-lessons-lyme:                       #00FF00;
    --color-lessons-lavender:                   #e6e6fa;
    --color-lessons-light-green:                #90EE90;
    --color-lessons-light-grey:                 #e4e4e4;
    --color-lessons-mid-blue: 	                #7B68EE;
    --color-lessons-mid-turquoise:              #48D1CC;
    --color-lessons-olive: 	                    #808000;
    --color-lessons-orange:                     #FFA500;
    --color-lessons-rose:                       #FFC0CB;
    --color-lessons-salmon: 	                #FA8072;
    --color-lessons-tomato:                     #FF6347;
    --color-lessons-turquoise:                  #40E0D0;
    --color-lessons-very-light-yellow:          #ffff89;
    --color-lessons-very-soft-lime-green:       #a6f1a6;
    --color-lessons-very-soft-violet:           #ab8fe3;
    --color-lessons-white:                      #ffffff;
    --color-lessons-white-smoke:                #f5f5f5;
}