@import url(../../css/common.css);
@import url(../../css/themes.css);
@import url(wrapper.css);
@import url(blocks/top-content/top-content.css);
@import url(blocks/top-menu/top-menu.css);
@import url(blocks/actions/actions.css);
@import url(blocks/breadcrumb/breadcrumb.css);
@import url(blocks/header/header.css);
@import url(blocks/top-navbar/top-navbar.css);
@import url(blocks/main-content/main-content.css);
@import url(blocks/content/content.css);
@import url(blocks/references/references.css);
@import url(blocks/navbar/navbar.css);
@import url(top.css);

:root{
    --top-content-max-height: 54px;
    --top-menu-max-height: 64px;
    --actions-max-height: 34px;
    --header-border-height: 3px;
    --header-actions-max-height: var(--actions-max-height) + calc(2 * var(--header-border-height));
    --main-content-max-height: calc(100vh - var(--top-menu-max-height) - var(--top-content-max-height) - var(--actions-max-height) - var(--footer-max-height));
    --navbar-max-widht: 305px;
    --navbar-min-width: 200px;
    --navbar-header-min-height: 75px;
    --content-max-width: 765px;
    --references-max-width: 370px;
    --main-content-max-width: 1440px;
    --footer-max-height: 50px;
}
