.wrapper {
    background-color: var(--color-lessons-background-primary);
    color: var(--color-lessons-white);
    text-decoration: none;
    display: grid;
    grid-template-rows: calc(var(--top-content-max-height) + var(--top-menu-max-height) + var(--actions-max-height)) 1fr var(--footer-max-height);
    min-width: var(--wrapper-min-width);
    min-height: var(--wrapper-min-height);
}

.main-content-wrapper, .top-menu-wrapper {
    max-width: var(--main-content-max-width);
    width: 100%;
    justify-self: center;
}