.check {
    padding-left: 1.2em;
}

.check__box {
    position: absolute;
    margin-left: -1.2em;
    width: 1em;
    height: 1em;
    background-image: url(../../img/off.svg);
}

.check__input {
    display: flex;
    flex-direction: column;
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Checked */

.check__input:checked + .check__box {
    background-image: url(../../img/on.svg);
}

/* Focused */

.check__input:focus + .check__box {
    background-image: url(../../img/off-focused.svg);
}

.check__input:checked:focus + .check__box {
    background-image: url(../../img/on-focused.svg);
}

/* Disabled */

.check__input:disabled + .check__box {
    background-image: url(../../img/off-disabled.svg);
}

.check__input:checked:disabled + .check__box {
    background-image: url(../../img/on-disabled.svg);
}