.check {
    padding-left: 1.2em;
}

.check__input {
    display: flex;
    flex-direction: column;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check__box {
    position: absolute;
    margin-left: -1.2em;
    width: 1em;
    font-size: 1em;
    background-image: url(img/off.svg);
}

.option {
    display: block;
}