.actions {
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--actions-height);
    background-color: var(--color-lessons-easy-gray);
    border-top: 3px solid var(--color-lessons-light-grey);
    border-bottom: 3px solid var(--color-lessons-light-grey);
}

.actions__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--content-max-width);
    width: 100%;
}

.actions__breadcrumbs {
    float: left;
    padding: auto;
}

.actions__language {
    float: right;
    padding: auto;
}