@import url(../themes.css);
@import url(../common.css);
@import url(blocks/lorem/lorem.css);
@import url(top-content.css);
@import url(wrapper.css);
@import url(blocks/header/header.css);
@import url(blocks/actions/actions.css);
@import url(blocks/top-navbar/top-navbar.css);

:root{
    /* --homework-2-head-container-height: 30px;
    --homework-2-footer-height: 20px;
    --homework-2-breadcrumbs-height: 20px;

    --homework-2-main-wrapper-height: calc(100vh - var(--homework-2-head-container-height) - var(--homework-2-footer-height) - var(--homework-2-breadcrumbs-height) - 300);
    
    --homework-2-sidebar-width: 200px;
    --homework-2-sidebar-height: var(--homework-2-main-wrapper-height);

    --homework-2-content-width: calc(100vw - var(--homework-2-sidebar-width)); */

    --main-content-max-width: 1440px;

    --top-content-max-height: 54px;
    --header-max-height: 64px;
    --actions-height: 28px;
    --navbar-max-widht: 305px;
    --content-max-width: 765px;
    --references-max-width: 370px;
}