.wrapper {
    background-color: var(--color-lessons-background-primary);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}