ul.breadcrumb__items-list {
    padding: 0px 10px;
    margin: 0px;
    list-style: none; 
}

ul.breadcrumb__items-list li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb__items-list li+li::before {
    padding: 2px;
    color: var(--color-lessons-black);
    content: "/\00a0";
}

ul.breadcrumb__items-list li a {
    color: var(--color-lessons-olive);
    text-decoration: none;
}

ul.breadcrumb__items-list li a:hover {
    color: var(--color-lessons-dark-olive);
    text-decoration: underline;
}