.top-menu {
    display: flex;
}

.top-menu__logo {
    display: flex;
    align-items: center;
    min-width: var(--top-menu-logo-min-width);
    font-size: 20px;
}

.top-menu__top-navbar {
    align-items: center;
}