.top-menu {
    display: flex;
    width: 100%;
    max-height: var(--top-menu-max-height);
    max-width: var(--main-content-max-width);
}

.top-menu__logo {
    display: flex;
    align-items: center;
    padding-right: 30px;
    min-width: 160px;
    font-size: 20px;
}

.top-menu__top-navbar {
    padding-left: 30px;
    align-items: center;
}